body {
  margin: 0;
}
div#container {
  width: 550px;
  margin: 0 auto;
}
label.label-left {
  text-align: right;
  vertical-align: top;
  width: 30%;
  display: inline-block;
}
.button-group {
  display: inline-block;
  width: 69%;
  list-style: none;
  margin: 0;
  padding: 0;
}
