body {
  margin: 0;
}
div#container {
  width: 550px;
  margin: 0 auto;
}
label.label-left {
  text-align: right;
  vertical-align: top;
  width: 30%;
  display: inline-block;
  margin: 5px 5px 5px 0;
}
.input-right {
  margin: 5px 0 5px;
}
.button-group {
  display: inline-block;
  width: 65%;
  list-style: none;
  padding: 0;
}
input#number {
  padding: 6px 0;
}
